@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #03192B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #03192B;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

/* .mask-card-list{
  -webkit-mask-image: linear-gradient(to right, #03192B, #03192B 2%, #03192B 98%, #03192B);
  mask-image: linear-gradient(to right, #03192B, #03192B 2%, #03192B 98%, #03192B);
} */